# Basic Analysis of Data

In [1]:
#Importing library
import pandas as pd

In [2]:
#Loading data
data = pd.read_csv('C:\\Users\\bhavi\\OneDrive\\Desktop\\Data\\insurance.csv')

In [3]:
#Setting full view of the data
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
#Checking shape of the data
data.shape

(1338, 7)

In [5]:
#View the data
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
#Checking correlation
data.corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

# Checking NA

In [7]:
#Checking missing values
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# Creating dummy variables

In [8]:
#Creating dummy variables
data2 = pd.get_dummies(data)

In [9]:
#Checkiing dummy data
data2.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

# Splitting data into X & y

In [10]:
#Splitting data into X and y
X = data2.drop('charges', axis = 1)
y = data2['charges']

print('Shape of X:',X.shape)
print('Shape of y:',y.shape)

Shape of X: (1338, 11)
Shape of y: (1338,)

# Splitting into train & test

In [11]:
#Importing train and test library
from sklearn.model_selection import train_test_split

In [12]:
#Splitting data into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 51)
print('Shape of X_train:',X_train.shape)
print('Shape of X_test:',X_test.shape)
print('Shape of y_train:',y_train.shape)
print('Shape of y_test:',y_test.shape)

Shape of X_train: (1070, 11)
Shape of X_test: (268, 11)
Shape of y_train: (1070,)
Shape of y_test: (268,)

# Standard Scaler of the data

In [13]:
#Importing feature scaling library
from sklearn.preprocessing import StandardScaler

In [14]:
#Feature Scaling

#Calling the standard scaler function
sc = StandardScaler()

#Implement standard function
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [15]:
#Viewing X_train data
X_train

array([[-0.01679025, -1.10886921,  3.22869711, ..., -0.57663083,
         1.62083887, -0.55647958],
       [ 1.46855153,  1.53991862, -0.90867523, ..., -0.57663083,
        -0.61696447,  1.79701113],
       [-0.93628753, -0.5478814 ,  1.57374817, ..., -0.57663083,
        -0.61696447, -0.55647958],
       ...,
       [-0.58263473,  0.08002838, -0.90867523, ..., -0.57663083,
        -0.61696447, -0.55647958],
       [-1.50213202,  0.18165062,  0.7462737 , ..., -0.57663083,
         1.62083887, -0.55647958],
       [ 0.54905424,  0.90870405, -0.08120077, ..., -0.57663083,
         1.62083887, -0.55647958]])

# Polynomial Regression

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [18]:
poly_reg = PolynomialFeatures(degree=2)
poly_reg.fit(X_train)
X_train_poly = poly_reg.transform(X_train)
X_test_poly = poly_reg.transform(X_test)

In [19]:
X_train_poly.shape, X_test_poly.shape

((1070, 78), (268, 78))

In [21]:
lr = LinearRegression()
lr.fit(X_train_poly, y_train)

LinearRegression()

In [22]:
lr.score(X_test_poly, y_test)

0.8481378246793845

In [24]:
lr.predict([X_test_poly[0,:]])

array([10169.])

In [27]:
y_pred = lr.predict(X_test_poly)
y_pred

array([10165., 41362.,  4171., 10399., 35207., 11407., 10039., 12851.,
        7675., 11961., 10034., 12467.,  9387.,  4329.,  5751., 13431.,
        4697.,  2315., 24594., 22850.,  3496.,  8723., 37239., 13311.,
        7687., 17631., 12630.,  3482.,  8791., 13371.,  2214., 28615.,
        4371.,  4451.,  9167., 10183.,  5719.,  3133., 12895.,  8278.,
       12450.,  2715.,  5871.,  3559.,  6954., 14685., 11003., 41531.,
        8951., 13775.,  6666., 37114.,  9263., 49169.,  6567., 33394.,
        9639., 11799., 14266.,  5967., 10307.,  8118., 26263.,  3427.,
        8687.,  9023., 11410.,  6100., 15483.,  7751., 31479., 16707.,
        5407.,  4751., 15907., 12087., 15607., 41691.,  4658., 10383.,
        5154., 14258.,  9006.,  2258.,  6023., 51647.,  4084., 11379.,
       12935.,  6891.,  5889., 12075.,  7271.,  6263.,  8733., 26083.,
       39258., 13519., 21487.,  9043.,  4271.,  3167., 43719.,  6904.,
        6314.,  9767.,  6994.,  9131., 10720., 42859.,  8187.,  7902.,
        5903.,  5594., 13842., 11213.,  4075., 15470., 16247., 38631.,
       46271.,  7553., 56147.,  5579.,  2947., 26379.,  6047., 30228.,
        9983.,  4283.,  2626.,  6914.,  2410.,  8101.,  5107., 26363.,
        3527.,  4818.,  4801.,  5599., 39243.,  3118., 41227.,  3175.,
        9772., 12831., 11666., 29719., 14894., 13815., 37842., 50267.,
        9755., 10783.,  1482., 11558., 35355., 13151.,  4638.,  3571.,
       44891., 27618., 17695.,  7743.,  7972., 12223., 13015., 13218.,
       32251.,  4886.,  3426.,  4299., 12951.,  4624., 22087., 34883.,
        7949., 47771., 11506.,  6666.,  5703.,  1626., 11282., 10114.,
       12234.,  7169., 11831.,  8143.,  5767., 11103.,  9831., 26807.,
        8511., 25463., 12379.,  6139.,  3599., 28199.,  4722.,  9912.,
        7754., 30002., 40471., 12988.,  9570.,  3447., 15375., 14551.,
        7838.,  2698.,  5371., 42263., 14087., 15451.,  4624., 24107.,
       16267., 49803., 41303.,  7165., 12770.,  5482., 11347.,  4935.,
        6851.,  6375.,  8888.,  4655.,  2583.,  6143.,  4603.,  3494.,
        8395.,  3191.,  3159., 13462., 24923.,  7855.,  9223., 15907.,
        8027.,  9856.,  7883.,  2923., 10647., 10007., 10266.,  4306.,
       14135., 12431.,  2282.,  5710., -1885., 11594., 41623., 34519.,
        9778., 27155.,  3815.,  4629.,  4331.,  8502., 42442.,  8791.,
       28503., 26393., 41519., 15431.])

In [28]:
y_test

151      7789.63500
1146    52590.82939
1305     2464.61880
392      8964.06055
123     39556.49450
365      9778.34720
473     20878.78443
1151    12235.83920
1216     5415.66120
539     27346.04207
178      8823.27900
333     11658.37915
228      7358.17565
1147     2261.56880
80       4441.21315
115     30259.99556
174      2855.43755
399      1631.66830
126     17081.08000
982     19199.94400
1131     3693.42800
1164     7153.55390
298     38746.35510
1145    11289.10925
838      6402.29135
36      15612.19335
1035    12094.47800
855      1875.34400
250     12829.45510
812     11013.71190
723      1263.24900
144     20745.98910
113      2404.73380
439      2897.32350
1319     7201.70085
1013     8765.24900
660      6435.62370
349      1635.73365
1237    12224.35085
355     24603.04837
602     11070.53500
121      1705.62450
291     20277.80751
1283     1720.35370
832      4719.73655
1018    12495.29085
344     10977.20630
488     48885.13561
1185     8603.82340
342     13217.09450
1287     5472.44900
34      51194.55914
198      9644.25250
1241    49577.66240
369      3481.86800
1291    34828.65400
637     24915.04626
645     10141.13620
433     12638.19500
533     19214.70553
197      8516.82900
188      6775.96100
916     21774.32215
1292     1515.34490
71       6799.45800
777      7448.40395
45      20630.28351
63       4133.64165
542     13887.20400
345      6184.29940
1007    24915.22085
1012    36580.28216
960      2730.10785
169      4827.90495
231     14001.28670
1294    11931.12525
1282    14283.45940
1031    44423.80300
1159     3989.84100
704      8930.93455
684      4766.02200
552     12957.11800
644     18806.14547
136      1261.44200
164      5028.14660
901     48673.55880
1261     3277.16100
460     10381.47870
390     10736.87075
440      4738.26820
434      4243.59005
1107    10493.94580
778      5934.37980
1328    22395.74424
1063     6548.19505
741     18246.49550
1218    41661.60200
1103    11363.28320
1314    18765.87545
756      7985.81500
388      3176.81590
1296     1708.92575
629     42983.45850
129      6082.40500
104      5003.85300
372      7639.41745
536      5972.37800
567      7256.72310
127      9634.53800
14      39611.75770
183      7419.47790
204      7147.10500
212      3537.70300
965      4746.34400
715     12146.97100
782      9386.16130
470      2497.03830
768     14319.03100
199     14901.51670
92      30184.93670
1122    46661.44240
1153     5630.45785
543     63770.42801
1138     3704.35450
133      1632.56445
954     20009.63365
671      3943.59540
618     34439.85590
652      8280.62270
436      2254.79670
15       1837.23700
196      5649.71500
1129     1728.89700
1143     6338.07560
218      3392.97680
297     21978.67690
226      2689.49540
1245     5615.36900
541      3056.38810
61       4504.66240
1070    39871.70430
311      1737.37600
615     42969.85270
482      1622.18850
748      8556.90700
575     12222.89830
1089    10577.08700
280     22331.56680
1322    12981.34570
405     11396.90020
29      38711.00000
1240    47269.85400
1280     8283.68070
1116     9222.40260
1251     1241.56500
1332    11411.68500
843     27533.91290
1110    11512.40500
1181     2850.68375
576      1664.99960
893     44202.65360
949     19933.45800
411     19594.80965
189      4922.91590
946      7160.09400
1105    10338.93160
868     13129.60345
493     12574.04900
1117    36124.57370
352      3554.20300
277      2150.46900
699      3500.61230
624     12129.61415
910      2639.04290
85      21098.55405
886     27218.43725
1211    23563.01618
292     42112.23560
18      10602.38500
143     18157.87600
282      4237.12655
584      1242.81600
1028     9850.43200
400      9264.79700
1275    10959.33000
1298     5261.46945
286      9432.92530
597      5594.84550
249      4040.55825
1222     8442.66700
936     32108.66282
966     23967.38305
325      6600.20595
376     21659.93010
970     10702.64240
140     27375.90478
1060     1981.58190
827     20773.62775
1312     4536.25900
1076     8551.34700
1177     6496.88600
322     35491.64000
958     41034.22140
599     33471.97189
407      8539.67100
236      1615.76670
343     13981.85035
20      13228.84695
611      6571.54400
1316     1731.67700
519      3857.75925
1230    60021.39897
27      12268.63225
190     12557.60530
620      3659.34600
750     19539.24300
962     14474.67500
674     46200.98510
240     38511.62830
348      5478.03680
515     11362.75500
1168     4670.64000
1098    23045.56616
606      3558.62025
829      6117.49450
672      4399.73100
913      7626.99300
1260     4544.23480
821      2680.94930
608      4435.09420
508      3044.21330
1025     2020.17700
119      6686.43130
137      2045.68525
17       2395.17155
895     13063.88300
156     21223.67580
46       3393.35635
774      7261.74100
25      14001.13380
24       6203.90175
1246     9101.79800
93       5729.00530
464      1632.03625
299      9249.49520
412     14455.64405
329      9144.56500
817      3597.59600
1100    16776.30405
964     26467.09737
487      1253.93600
306     20177.67113
1317     1163.46270
458     10601.41200
852     42111.66470
23      37701.87680
214      8520.02600
885     19719.69470
10       2721.32080
955      3875.73410
632      3366.66970
215      7371.77200
251     47305.30500
209      6610.10970
1250    18648.42170
503     32548.34050
668     45710.20785
366     13430.26500
Name: charges, dtype: float64

In [30]:
from sklearn.metrics import mean_squared_error
import numpy as np
mse = mean_squared_error(y_test, y_pred)
print(mse)
rmse = np.sqrt(mse)
print(rmse)

26406184.951883297
5138.694868532602