In [8]:
#Importing require libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [9]:
#Loading data
data = pd.read_csv('C:\\Users\\bhavi\\OneDrive\\Desktop\\Data\\bangalore house price prediction OHE-data.csv')

In [10]:
#View the data
data.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [11]:
#Splitting data into X & y
X = data.drop(columns='price', axis = 1)
y = data['price']
print('X shape = ',X.shape)
print('y shape = ',y.shape)

X shape =  (7120, 107)
y shape =  (7120,)

In [12]:
#Splitting data into trainn and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 51)
print('X_train shape =', X_train.shape)
print('X_test shape =', X_test.shape)
print('y_train shape =', y_train.shape)
print('y_test shape =', y_test.shape)

X_train shape = (5696, 107)
X_test shape = (1424, 107)
y_train shape = (5696,)
y_test shape = (1424,)

In [15]:
#Implementing random forest with taking 100 decision tree
regressor_mse = RandomForestRegressor(n_estimators=100, criterion='mse') #We can also use "mse" or "mae"
regressor_mse.fit(X_train, y_train)
regressor_mse.score(X_test,y_test)

0.9006956227999692

In [16]:
#Implementing random forest with taking 500 decision tree
regressor_mse = RandomForestRegressor(n_estimators=500, criterion='mse') #We can also use "mse" or "mae"
regressor_mse.fit(X_train, y_train)
regressor_mse.score(X_test,y_test)

0.8890734550272011

In [17]:
#Predition on the data
y_pred = regressor_mse.predict(X_test)
y_pred

array([ 79.55632,  39.9554 , 119.702  , ...,  33.33255,  63.37652,
       177.01   ])

In [19]:
#Computing Root Mean Squred Error
MSE = mean_squared_error(y_test, y_pred)
RMSE = np.sqrt(MSE)
print('Mean Squred Error', MSE)
print('Root Mean Squared Error',RMSE)

Mean Squred Error 2228.8400702280687
Root Mean Squared Error 47.21059277564802